body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: o;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    margin: 0;
}

/* This is the styling for the hero section */
.hero {
    background-color: #1f2937;
    /*
    min-height: 600px;
    */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

/* Syles for the header */
.header {
    display: flex;
    padding: 0px 200px;
}

.header p {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header ul {
    font-size: 18px;
    color: #c0c2c4;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.headerLinks {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.heroContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    height: 450px;
}

/* Styles for the hero content */
.heroInfo {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.heroInfo p {
    font-size: 18px;
    color: #c0c2c4;
    margin: 0;
}

.heroInfo button {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 700;
    background-color: #3882F6;
    color: white;
    width: 110px;
    height: 35px;
    border-radius: 8px;
    border: none;
}